<div class="cv-container">
  <header class="cv-header">
    <h1 class="title">{{nome_sobrenome}}</h1>
    <p class="text-subtitle">Engenheira Civil</p>
  </header>
  <div class="cv-layout">
<section class="cv-side-bar">
      <div class="cv-side-bar-personal-information">
        <img src="assets/images/Beatriz.png" alt="Beatriz Camargo - Foto de Perfil">
        <h2 class="">Dados Pessoais</h2>
        <dl>
          <dt>Email:</dt>
          <dd>{{email}}</dd>

          <dt>Telefone:</dt>
          <dd>{{telefone}}</dd>

          <dt>Endereço:</dt>
          <dd>{{endereco}}</dd>

          <dt>LinkedIn:</dt>
          <dd>
            <a href="{{linkedin}}"></a>
          </dd>
        </dl>
      </div>
    </section>
    <main>
      <div class="cv-content">
        <section class="cv-content-resume">
          <h2>Resumo Profissional</h2>
          <p>Engenheira Civil com 5 anos de experiência em projetos estruturais, gestão de obras e fiscalização.
            Focada em entregas de alta qualidade e cumprimento de prazos.</p>
        </section>
        <section class="cv-content-experience">
          <h2>Experiência</h2>
          <ul>
            <li>
              <strong>Engenheira Civil - Empresa XYZ (2020 - Presente) </strong>
              <p>Responsável por gerenciamento de obras e coordenação de equipe em projetos residenciais.</p>
            </li>
            <li>
              <strong>Estagiária - Empresa ABC (2018 - 2020) </strong>
              <p>Atuou no suporte técnico e elaboração de projetos estruturais.</p>
            </li>
          </ul>
        </section>
        <section class="cv-content-education">
          <h2>Educação</h2>
          <ul>
            <li>
              <strong>Bacharelado em Engenharia Civil</strong>
              <p>Universidade de São Paulo (USP) - 2018</p>
            </li>
          </ul>
        </section>
        <section class="cv-content-competencias">
          <h2>Competências</h2>
          <ul>
            <li>AutoCAD e Revit</li>
            <li>Gestão de Projetos</li>
            <li>Planejamento de Obras</li>
            <li>Excel Avançado</li>
          </ul>
        </section>
      </div>
    </main>
  </div>
</div>
