<div class="cv-container">
  <header class="cv-header">
    <h1 class="cv-header-title">{{ nome_sobrenome }}</h1>
    <p class="cv-header-subtitle">Engenheira Civil</p>
    <hr class="cv-line" />
  </header>
  <div class="cv-layout">
    <section class="cv-side-bar-personal-information">
      <img
        src="assets/images/Beatriz.png"
        alt="Beatriz Camargo - Foto de Perfil"
      />
      <h2 class="cv-side-bar-personal-information-title">
        Informações<br />pessoais
      </h2>
      <hr class="cv-line" />
      <dl>
        <dt class="cv-side-bar-personal-information-subtitle">Nome</dt>
        <dd class="cv-side-bar-personal-information-text">
          {{ nome_sobrenome }}
        </dd>

        <dt class="cv-side-bar-personal-information-subtitle">Email</dt>
        <dd class="cv-side-bar-personal-information-text">{{ email }}</dd>

        <dt class="cv-side-bar-personal-information-subtitle">Telefone</dt>
        <dd class="cv-side-bar-personal-information-text">{{ telefone }}</dd>

        <dt class="cv-side-bar-personal-information-subtitle">Endereço</dt>
        <dd class="cv-side-bar-personal-information-text">{{ endereco }}</dd>

        <dt class="cv-side-bar-personal-information-subtitle">CREA</dt>
        <dd class="cv-side-bar-personal-information-text">{{ crea }}</dd>

        <dt class="cv-side-bar-personal-information-subtitle">Linkedin</dt>
        <dd class="cv-side-bar-personal-information-linkedin">
          <a class="cv-side-bar-personal-information-link" href="{{ linkedin }}" target="_blank"
            >{{ linkedin_text }}</a>
        </dd>
      </dl>
    </section>
    <main class="cv-content">
      <section class="cv-content-resume">
        <h2 class="cv-content-title">Perfil profissional</h2>
        <hr class="cv-line" />
        <p>
          Engenheira civil com mais de 2 anos de experiência em projetos na região de Curitiba.
          Tenho amplo conhecimento de procedimentos de orçamento e vistoria, com 100% de entregas no prazo.
          Pretendo demonstrar toda a minha competência e comprometimento à Construtora ABC.
        </p>
      </section>
      <section class="cv-content-experience">
        <h2 class="cv-content-title">Experiência</h2>
        <hr class="cv-line" />
        <div class="cv-content-experience-job">
          <p>
            <strong>
              Engenheira Civil<br>
              <span>Construtora ABC, Curitiba</span>
            </strong>
            <span>out 2019 - dez 2021</span>
          </p>
          <ul class="cv-content-experience-items">
            <li>Mais de 10 projetos entregues</li>
            <li>Responsável pelo treinamento de 5 estagiários</li>
            <li>100% dos projetos entregues dentro do prazo</li>
            <li>Elaboração de orçamento</li>
            <li>Supervisão de Obras</li>
          </ul>
        </div>
      </section>
      <section class="cv-content-education">
        <h2 class="cv-content-title">Educação</h2>
        <hr class="cv-line" />
        <ul>
          <li>
            <strong>
              Pós-graduação em Gestão de Projetos
              <span>mar 2020 - atual</span>
            </strong>
            <p>ISAE/FGV, Curitiba</p>
          </li>
          <li>
            <strong>
              Graduação em Engenharia Civil
              <span>mar 2014 - ago 2019</span>
            </strong>
            <p>UFPR, Curitiba</p>
          </li>
        </ul>
      </section>
      <section class="cv-content-skills">
        <h2 class="cv-content-title">Competências</h2>
        <hr class="cv-line" />
        <ul>
          <li>
            AutoCAD
            <div class="cv-content-skills-range">
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
            </div>
          </li>
          <li>
            SketchUp
            <div class="cv-content-skills-range">
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball empty"></div>
              <div class="cv-content-skills-range-ball empty" ></div>
            </div>
          </li>
          <li>
            Microsoft Excel
            <div class="cv-content-skills-range">
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
              <div class="cv-content-skills-range-ball full"></div>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </div>
</div>
